torch
tensorflow
easydict
inplace-abn
plyfile
numpy
scikit-image
pyyaml
h5py
opencv-python
tqdm
matplotlib
scipy
lpips
transforms3d
kornia
scikit-learn
catkin_pkg
black
jupyterlab
pandas
open3d
pybullet==2.7.9
pytorch-ignite
tensorboard